<template>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="product_id">Product</label>
                <select name="product_id" id="product_id" class="form-control">
                    <option value="21">Набор "Oh My Nuts"</option>
                    <option value="20">Гранола</option>
                    <option value="18">Миндаль</option>
                    <option value="15">Кешью</option>
                    <option value="16">Фисташки</option>
                    <option value="3">Фундук</option>
                    <option value="4" selected="selected">Кедровый орех</option>
                    <option value="5">Бразильский орех</option>
                    <option value="6">Курага</option>
                    <option value="7">Клюква</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="amount">Amount</label>
                <select name="product_id" id="amount" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Product summary price</label>
                <input class="form-control" type="text" value="123" readonly disabled>
            </div>
        </div>

        <button class="btn btn-primary" @click="addField()">+</button>
    </div>


</template>

<script>
    export default {
        methods: {
            addField() {

            }
        }
    }
</script>